<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="LMSDBConnectPortal" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=UdutuDemoPortal;Connection Timeout=0;Persist Security Info=True;User ID=sa;Password=531cedar" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Mail Jet Credentials -->
    <add key="mailServer" value="in-v3.mailjet.com" />
    <add key="fromEmail" value="info@udutu.com" />
    <add key="mailAccount" value="41af83106b01df9c7ee1c7d525c5d910" />
    <add key="mailPwd" value="aaee728a0780c6272b43855870201233" />
    <add key="SMTPPort" value="587" />

    <add key="feedLog" value="C:\NetworkShare/udutu_files/Logs/HRFeedLog.txt" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>